:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    background-color: #CE8A39;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #1A243D;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
